/***********SECTION**********/

section.section{
	background-image: url(../image/cuisine.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 500px;
	color: white;
    text-shadow: black -4px -1px 3px;
   	-moz-text-shadow: black -4px -1px 3px;
	-webkit-text-shadow: black -4px -1px 3px;
}

h1 {
    font-size: 100px;
    margin-top: 130px;
    margin-left: 300px;
}

section.section p {
    font-size: 40px;
    margin-top: 130px;
    margin-left: 120px;
}
/*********SECTION 1**********/

section.section1{
	background-color: rgba(221, 221, 221, 0.56);
	padding-top: 15px;
	padding-bottom: 40px;
}

section.section1 a{
	background-color: #2e6da4;
	color: white;
	border: 3px solid #2e6da4;
	padding: 5px 8px;
	border-radius: 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px;
	font-size: 22px;
	transition: .4s;
}

section.section1 a:hover{
	background-color: white;
	color: #2e6da4;
	border: 3px solid #2e6da4;
	transition: .4s;
	padding: 5px 8px;
	border-radius: 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px;
}

/**********SECTION 2***********/

section.section2{
	background-color: #2d689a;
	padding-bottom: 10px;
}

section.section2 img{
	margin-bottom: 20px;
}

/*******Row 1******/

section.section2 h3{
	color: white;
	text-shadow: black 1px 1px 1px;
	-moz-text-shadow: black 1px 1px 1px;
	-webkit-text-shadow: black 1px 1px 1px;
}

/*******Row 2*****/

section.section2 div.row2 a{
	text-decoration: none;
}

section.section2 div.row1 h3{
	margin-bottom: 30px;
}

section.section2 div.row2 img{
	width: 250px;
	height: 150px;
	border-radius: 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px;
	cursor: pointer;
    transition: 0.3s;
}

section.section2 div.row2 img:hover {
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

/**********SECTION 3***********/

section.section3 {
	background-color: rgba(221, 221, 221, 0.56);
	padding: 25px 10px;
}

video{
	background-color: white;
	width: 50%;
	margin-top: 30px;
}



/**********SECTION 4***********/

section.section4 {
	background-color: rgba(221, 221, 221, 0.56);
	padding: 25px 10px;
}

section.section4 p{
	text-align: justify;
	font-size: 18px;
}

section.section4 .col-md-8 {
    width: 64%;
}

.col-md-2 {
    width: 15.666667%;
}

section.section4 .right{
	margin-left: 20px;
	font-size: 50px;
}

section.section4 .left{
	margin-right: 20px;
	text-align: right;
	font-size: 50px;
}

section.section4 input.envoyer{
	margin-top: 10px;
	margin-left: 80px;
}

/**********SECTION 5***********/

section.section5 {
	background-color: rgba(221, 221, 221, 0.56);
	padding: 25px 10px;
}

section.section5 i{
	font-size: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

section.section5 p{
	text-align: justify;
	font-size: 16px;
}

section.section5 .first{
	margin-bottom: 35px;
}

section.section5 .right{
	margin-left: 20px;
	font-size: 50px;
}

section.section5 .left{
	width: 47%;
	margin-right: 20px;
	text-align: right;
	font-size: 50px;
}
