/***********SECTION**********/

section.section1{
	background-image: url(../image/salledebain.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 500px;
	color: white;
}

section.section1 h1{
	font-size: 50px;
	margin-top: 300px;
	margin-left: 90px;
	text-shadow: black 5px 5px 5px;
   	-moz-text-shadow: black 5px 5px 5px;
	-webkit-text-shadow: black 5px 5px 5px;
}

section.section1 p{
	margin-left: 90px;
	font-size: 17px;
	text-shadow: black 2px 2px 1px;
   	-moz-text-shadow: black 2px 2px 1px;
	-webkit-text-shadow: black 2px 2px 1px;
}

/*********SECTION 1**********/

section.section1{
	background-color: rgba(221, 221, 221, 0.56);
	padding-top: 15px;
	padding-bottom: 40px;
}

section.section1 a{
	background-color: #2e6da4;
	color: white;
	border: 3px solid #2e6da4;
	padding: 5px 8px;
	border-radius: 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px;
	font-size: 22px;
	transition: .4s;
}

section.section1 a:hover{
	background-color: white;
	color: #2e6da4;
	border: 3px solid #2e6da4;
	transition: .4s;
	padding: 5px 8px;
	border-radius: 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px;
}

/**********SECTION 4***********/

section.section4 {
	background-color: rgba(221, 221, 221, 0.56);
	padding: 25px 10px;
}

section.section4 h2{
    margin-top: 22%;
    margin-left: 25%;
}

section.section4 input{
	border-radius: 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px;
}

section.section4 div.carousel{
	width: 70%;
	margin-left: 20%;
}

section.section4 div.carousel img{
	width: 100%;
	height: 375px;
}

section.section4 textarea{
	border-radius: 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px;
}

section.section4 div.label{
	
}

section.section4 div.label li{
	margin-bottom: 1px;
	text-align: right;
}



section.section4 li{
	list-style-type: none;
}

section.section4 input.envoyer{
	margin-top: 10px;
	margin-left: 80px;
}

/**********SECTION 5***********/

section.section5 {
	background-color: rgba(221, 221, 221, 0.56);
	padding: 25px 10px;
	text-align: right;
}

section.section5 input{
	border-radius: 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px;
}

section.section5 h2{
    margin-top: 22%;
    margin-right: 25%;
}

section.section5 div.carousel{
	width: 70%;
	margin-left: 10%;
}

section.section5 div.carousel img{
	width: 100%;
	height: 375px;
}

section.section5 textarea{
	border-radius: 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px;
}

section.section5 div.label{
	
}

section.section5 div.label li{
	margin-bottom: 1px;
	text-align: right;
}



section.section5 li{
	list-style-type: none;
}

section.section5 input.envoyer{
	margin-top: 10px;
	margin-left: 80px;
}

/**********SECTION 6***********/

section.section6 {
	background-color: rgba(221, 221, 221, 0.56);
	padding: 25px 10px;
	text-align: right;
}

section.section6 .col-md-6{
	width: 100%;
}

section.section6 h2{
    text-align: center;
}

section.section6 div.carousel{
	width: 90%;
	margin-left: 5%;
}

section.section6 div.carousel img{
	width: 100%;
	height: 225px;
}

section.section6 textarea{
	border-radius: 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px;
}

section.section6 div.label{
	
}

section.section6 div.label li{
	margin-bottom: 1px;
	text-align: right;
}



section.section6 li{
	list-style-type: none;
}

section.section6 input.envoyer{
	margin-top: 10px;
	margin-left: 80px;
}

